@font-face {
    font-family: "mysims";
    src: url("./fonts/mysims.ttf");
}


body, html {
    background-color: #000000;
    color: #fff;
    font-family: "mysims";
    margin: 0;
    position: relative;
    height: 100vh;
}